<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655472923961-3fd00udgv7dvg1sbgb1r9hgumaejbisa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655472923961-3fd00udgv7dvg1sbgb1r9hgumaejbisa</string>
	<key>API_KEY</key>
	<string>AIzaSyAVIyk41_0S65d_ophOngSCzJ67Ypnb320</string>
	<key>GCM_SENDER_ID</key>
	<string>655472923961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abualgait.e2Design</string>
	<key>PROJECT_ID</key>
	<string>e2design-1564993320820</string>
	<key>STORAGE_BUCKET</key>
	<string>e2design-1564993320820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655472923961:ios:1b49877c6f6629fe32c4e8</string>
	<key>DATABASE_URL</key>
	<string>https://e2design-1564993320820.firebaseio.com</string>
</dict>
</plist>